<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$title$</title>
  <link rel="stylesheet" href="$notes4u$style.css">
  $analytics$
</head>
<body>
$if(nav)$
<nav class="pagenav pagenav--top" aria-label="page">
  $partial_pagenav.html()$
</nav>
$endif$
<main>
$if(is_home)$
$partial_home()$
$elseif(is_course)$
$partial_course.html()$
$elseif(is_unit)$
$partial_unit.html()$
$elseif(is_section)$
$body$
$endif$
</main>
$if(nav)$
<nav class="pagenav pagenav--bottom" aria-label="page">
  $partial_pagenav.html()$
</nav>
$endif$
</body>
</html>
