$-- This template renders invisible disabled spans rather than omitting items
$-- entirely so that flexbox spacing is consistent on all pages.
$if(prev)$
<a class="pagenav__item pagenav__item--left pagenav__item--link" href="$prev.href$" aria-label="previous page">
  «&nbsp;Prev
</a>
$else$
<span class="pagenav__item pagenav__item--left pagenav__item--disabled" role="link" aria-disabled="true" aria-label="previous page">
  «&nbsp;Prev
</span>
$endif$
$if(home)$
<div class="pagenav__group">
  <a class="pagenav__item pagenav__item--link$if(up)$ pagenav__item--extra$endif$"  href="$home.href$" aria-label="home page">
    Home
  </a>
  $if(up)$
  <a class="pagenav__item pagenav__item--link"  href="$up.href$" aria-label="parent page">
    Up
  </a>
  $endif$
</div>
$endif$
$if(next)$
<a class="pagenav__item pagenav__item--right pagenav__item--link" href="$next.href$" aria-label="next page">
  Next&nbsp;»
</a>
$else$
<span class="pagenav__item pagenav__item--right pagenav__item--disabled" role="link" aria-disabled="true" aria-label="next page">
  Next&nbsp;»
</span>
$endif$
